html, body {
  font-family: Trebuchet MS;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  background: #FC8EC5;
  background: linear-gradient(180deg,rgba(252, 142, 197, 1) 0%, rgba(255, 141, 211, 1) 20%, rgba(255, 160, 216, 1) 40%, rgba(255, 192, 209, 1) 60%, rgba(255, 223, 194, 1) 80%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 72px);
  grid-template-rows: repeat(5, 72px);
  gap: 30px;
  justify-content: center;
  align-content: center;
  z-index: 1;
}

.grid-item img {
  width: 72px;
  height: 72px;
  object-fit: cover;
  border-radius: 4px;
  z-index: 2;
}

.grid-item a {
  display: block;
}

.grid-item img {
  display: block;
}
