body {
  margin: 0px;
  padding: 0px;
  /* background-color: #FF95D0; */
  background-image: url('https://i.ibb.co/MkY1XVTX/background.png');
  image-rendering: pixelated;
  image-rendering: crisp-edges; /* fallback for some browsers */
  background-repeat: repeat;
  background-size: 92%;
  background-position: center;
  /* background: repeating-conic-gradient(#333333 0deg 90deg, #eeeeee 90deg 180deg); */
  background-blend-mode: screen;
  font-family: Trebuchet MS;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 72px);
  grid-template-rows: repeat(5, 72px);
  gap: 30px;
  justify-content: center;
}

.grid-item img {
  width: 72px;
  height: 72px;
  object-fit: cover;
  border-radius: 4px;
  border: 0px solid #ccc;
}

.grid-item a {
  display: block;
}

.grid-item img {
  display: block;
}
