html, body {
  font-family: Trebuchet MS;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  background: linear-gradient(180deg,rgba(251, 203, 201, 1) 0%, rgba(249, 185, 173, 1) 20%, rgba(243, 145, 157, 1) 40%, rgba(237, 114, 142, 1) 60%, rgba(231, 84, 128, 1) 80%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 72px);
  grid-template-rows: repeat(6, 72px);
  gap: 22px;
  justify-content: center;
  align-content: center;
}

.grid-item img {
  width: 72px;
  height: 72px;
  object-fit: cover;
  border-radius: 4px;
}

.grid-item a {
  display: block;
}

.grid-item img {
  display: block;
}
